a {
  text-decoration: none;
  color: inherit;
}
/* header burada başlıyor */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 32px 24px 32px 7px;
    /* border-bottom: 1px solid #1B1B1B; */
  
  
    #menu__toggle {
      opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      padding-top: 23px;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
  }
  .custom-hr {
    border: none;
  
  }
  .header-hero {
    background: #000;
    padding-block: 32px;
    
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 2px;
      color: #FFF;
      text-align: center;
    }
  }
  /* header burada bitiyor */


  .product-headphones {
    padding-inline: 24px;
    margin-top: 64px;

    button {
      cursor: pointer;
      margin-top: 28px;
      text-align: center;
      background-color: rgba(216, 125, 74, 1);
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 1);
      padding: 15px 31px;
      border: 1px solid transparent;
      display: block;
      margin-inline: auto;
      margin-bottom: 120px;
    }
  }

  .product-headphones-text {
    h4 {
      font-weight: 400;
      font-size: 14px;
      line-height: 19.12px;
      letter-spacing: 10px;
      text-align: center;
      color: #D87D4A;
      padding-block: 32px 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 1px;
      text-align: center;
      padding-block: 24px;
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
      color: #000000;
    }
  }

  .categories {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 68px;
    padding-bottom: 22px;
    margin-bottom: 120px;
    margin-inline: auto;

    .category-item {
      width: 327px;
      height: 165px;
      border-radius: 8px;
      background-color: #F1F1F1;
      text-align: center;
      margin-inline: auto;
    }

    img {
      position: relative;
      margin-top: -60px;
      margin-inline: auto;
      margin-bottom: 38px;
    }

    h3 {
      font-weight: 700;
      font-size: 15px;
      line-height: 20.49px;
      margin-bottom: 17px;
      color: #000000;
      margin-bottom: 17px;
    }

    a {
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
      text-align: center;
      color: #000000;

      span {
        color: #D87D4A;
      }
    }
  }




  body {
    font-family: "Manrope";

  }

  .main-content {
    margin-inline: 24px;
    margin-bottom: 120px;

    .content-text {
      text-align: center;

      img {
        border-radius: 8px;
        margin-bottom: 40px;
      }

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38.25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 32px;

        span {
          color: #D87D4A;
        }
      }

      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        opacity: 0.5;
      }
    }
  }

  /*Footer css kismi başladı   */

  .footer {
    background-color: #101010;
    text-align: center;
    padding-inline: 24px;

    a {
      color: inherit;
      text-decoration: none;
    }

    >img {
      display: block;
      margin-inline: auto;
      padding-bottom: 48px;
    }

    >a img {
      display: block;
      margin-inline: auto;
      padding-bottom: 48px;
    }

    span {
      color: #878787;
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
    }

    ul {
      padding: 0;
    }
  }

  .footer p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #878787;
    padding-block: 48px;
  }


  .navbar ul li {
    list-style: none;
    font-weight: 450;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 16px;

  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 48px 38px;
  }



  /*Footer css kismi bitti   */

/* Dialog Starts Here */

.modal-dialog {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialog-top h3 {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  display: flex;
  align-items: center;
}

.dialog-top h3 span {
  font-size: 16px;
  color: black;
  margin-left: 5px;
}

.dialog-top button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.dialog-top button:hover {
  color: #e67b3d;
}

.dialog-product-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  gap: 12px;
}

.product-left img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.product-middle h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.product-middle h4 {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.product-right {
  display: flex;
  align-items: center;
  background: #f1f1f1; 
  border-radius: 6px; 
  padding: 5px;
  overflow: hidden; 
  width: 110px;
  button{
    background-color: transparent;
  }
}

.btn {
  width: 35px;
  height: auto;
  border: none;
  background: transparent; /* Şeffaf buton */
  color: #333;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.counter {
  width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.dialog-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.dialog-bottom h6 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}

.dialog-bottom span {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.checkout-btn {
  background: #e67b3d;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  margin-top: 20px;
}

.checkout-btn:hover {
  background: #d67a3c;
  transform: scale(1.03);
}

.checkout-btn:active {
  transform: scale(0.95);
}

/* overlay part start here */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}


  @media (min-width :525px) {
    .header {
      .menu__btn {
        left: 39px;
      }
      padding-inline: 39px;
      > .logo {
        margin-left: 42px;
        margin-right: auto;
      }
    }
  
    .header-hero {
      padding-block: 97px;
      h2 {
        font-size: 40px;
      }
    }
    .categories {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-inline: 39px;
    }

    

    .main-content {
      padding-inline: 0px;

      .content-text {
        padding-inline: 20px;
      }
    }

    .product-headphones {
      margin-inline: 20px;
      margin-top: 120px;

    }

    .product-headphones-text {
      margin-inline: auto;
      max-width: 572px;

      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
        text-align: center;
        max-width: 372px;
        margin-inline: auto;
      }
    }

    .footer {
      padding-inline: 40px;
      text-align: left;

      >img {
        display: block;
        margin-left: 0px;
      }

      a>img {
        display: block;
        margin-left: 0px;
        padding-bottom: 32px;
      }

      ul {
        display: flex;
        gap: 34px;
      }

      .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }


  /* Desktop versiyonu basliyor */

  @media (min-width: 1024px) {

    body {
      min-width: 1440px;
    }

    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: 1.43px;
    }

    .header {
      width: 100%;
      padding-inline: 165px;
       a {
        order: 3;
        display: block;
        
       }
      .logo {
        display: block;
        order: 1;
        margin-left: 0;
        margin-right: 0;
      }
      .hamburger-menu {
        order: 2;
  
        #menu__toggle , .menu__btn {
          display: none;
        }
        .menu__box {
          position: static; 
          width: auto; 
          padding: 0; 
          box-shadow: none; 
          display: flex; 
          flex-direction: row; 
          justify-content: flex-start; 
          gap: 34px;
          background: inherit;
          .menu__item {
            color: #FFF;
          }
        }
      }
    }

    .product-headphones {
      display: flex;
      justify-content: center;
      margin: 160px 165px;
      gap: 125px;

      .product-headphones-item,
      picture {
        width: 540px;
        height: 560px;

        img,
        source {
          height: auto;
        }
      }
    }

    .product-headphones-text {
      margin: 0;
      width: 445px;
      height: 343px;
      padding-block: 100px;

      h4,
      h3,
      p {
        text-align: left;
        padding-left: 0;
        margin-inline: 0;
      }

      a {
        margin: 0;
      }

      button {
        margin-top: 40px;
        margin-left: 0px;
      }
    }



    .order {
      .product-headphones-item {
        order: 2;
      }
    }

    .categories {
      width: 1110px;
      height: auto;
      margin-inline: auto;
    }

    .main-content {
      .content-text {
        display: flex;
        justify-content: center;
        margin: 160px 165px;
        gap: 125px;
        width: 1110px;
        margin-inline: auto;

        picture {
          width: 540px;
          height: 560px;
          order: 1;

          img,
          source {
            height: auto;
          }
        }

        >div {
          margin: 0;
          width: 445px;
          height: 295px;
          padding-block: 100px;

          h3,
          p {
            text-align: left;
            margin-inline: 0;
          }
        }
      }
    }

    .footer {
      padding-inline: 165px;

      p {
        max-width: 540px;
      }
    }

    .footer-top {
      display: flex;
      justify-content: space-between;
    }

    .modal-dialog {
      width: 350px;
      padding: 20px;
      border-radius: 10px;
      background: white;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      border: none;
      position: fixed;
      top: 20%;
      left: 87%;
      transform: translate(-50%, -50%);
    }
  }

  /* Desktop versiyon css burada bitiyor */