body {
  font-family: "Manrope";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 32px 24px 32px 7px;
  /* border-bottom: 1px solid #1B1B1B; */


  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    padding-top: 23px;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}
.custom-hr {
  border: none;

}
.header-hero {
  background: #000;
  padding-block: 32px;
  
  h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 2px;
    color: #FFF;
    text-align: center;
  }
}

.product-headphones {
  margin: 64px 24px 120px;
  .product-headphones-item img {
    border-radius: 8px;
    margin-bottom: 32px;
  }
  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    letter-spacing: 10px;
    text-align: center;
    color: #D87D4A;
    margin-bottom: 24px;
  }
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 24px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 24px;
  }
  a {
    text-decoration: none;
    color: #FFF;
    background: #D87D4A;
    width: 160px;
    padding-block: 15px;
    margin-inline: auto;
    display: block;
    text-align: center;
  }
}

.main-content {
  margin-inline: 24px;
  margin-bottom: 120px;
  .content-text {
    text-align: center;
    img {
      border-radius: 8px;
      margin-bottom: 40px;
    }
    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 32px;
      span {
        color: #D87D4A;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      opacity: 0.5;
    }
  }
}

.categories {
  margin-top: 120px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 68px;
  padding-bottom: 22px;
  margin-bottom: 120px;
  margin-inline: auto;

  .category-item {
    width: 327px;
    height: 165px;
    border-radius: 8px;
    background-color: #F1F1F1;
    text-align: center;
    margin-inline: auto;
    text-transform: uppercase;

  }
  img {
    position: relative;
    margin-top: -60px;
    margin-inline: auto;
    margin-bottom: 38px;
  }
  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20.49px;
    margin-bottom: 17px;
    color: #000000;
    margin-bottom: 17px;
  }
  a {
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    opacity: 0.5;
    span {
      margin-left: 13px;
      color: #D87D4A;
      font-size: 18px;
    }
  }
}  

.footer {
  background-color: #101010;
  text-align: center;
  padding-inline: 24px;
   p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #878787;
    padding-block: 48px;
  }
  
  
  .navbar ul li {
    list-style: none;
    font-weight: 450;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 16px;
    
  }
  
  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 48px 38px;
  }
  > img {
      display: block;
      margin-inline: auto;
      padding-bottom:48px ;
  }
  >a img {
      display: block;
      margin-inline: auto;
      padding-bottom: 48px;
  }
  span {
      color: #878787;
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
  }
  ul {
      padding: 0;
  }
}

@media (min-width: 525px) {
  .header {
    .menu__btn {
      left: 39px;
    }
    padding-inline: 39px;
    > .logo {
      margin-left: 42px;
      margin-right: auto;
    }
  }

  .header-hero {
    padding-block: 97px;
    h2 {
      font-size: 40px;
    }
  }


  .product-headphones {
    margin: 120px 39px;
    .product-headphones-text {
      margin-inline: 60px;
    }
    .product-headphones-item img {
      width: 100%;
      height: 352px;
    }
    h2 {
      margin-bottom: 16px;
    }
    h3 {
      font-size: 40px;
      margin-bottom: 32px;
    }
  }
  .categories {
    flex-direction: row;
    margin-inline: 39px;
    gap: 10px;
    margin-top: 180px;
  }
  .main-content {
    margin-inline: 39px;
    .content-text {
      img {
        width: 100%;
        height: 300px;
        margin-bottom: 63px;
      }
      h3 {
        font-size: 40px;
        letter-spacing: 1.43px;
        line-height: 44px;
      }
      p {
        margin-inline: 57px;
      }
    }
  }
  .footer {
    padding-inline: 40px;
    text-align: left;

    >img {
      display: block;
      margin-left: 0px;
    }

    a>img {
      display: block;
      margin-left: 0px;
      padding-bottom: 32px;
    }

    ul {
      display: flex;
      gap: 34px;
    }

    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
}
@media (min-width: 1024px) {
  body {
    min-width: 1440px;
  }
  .header {
    width: 100%;
    padding-inline: 165px;
     a {
      order: 3;
      display: block;
      
     }
    .logo {
      display: block;
      order: 1;
      margin-left: 0;
      margin-right: 0;
    }
    .hamburger-menu {
      order: 2;

      #menu__toggle , .menu__btn {
        display: none;
      }
      .menu__box {
        position: static; 
        width: auto; 
        padding: 0; 
        box-shadow: none; 
        display: flex; 
        flex-direction: row; 
        justify-content: flex-start; 
        gap: 34px;
        background: inherit;
        .menu__item {
          color: #FFF;
        }
      }
    }
  }
  .product-headphones{
    display: flex;
    justify-content: center;
    margin: 160px 165px;
    gap: 125px;

    .product-headphones-item, picture {
      width: 540px;
      height: 560px;
      img, source {
        height: auto;
      }
    }
    .product-headphones-text {
      margin: 0;
      width: 445px;
      height: 343px;
      padding-block: 100px;
      h4, h3, p {
        text-align: left;
      }
      a {
        margin: 0;
      }
    }
  
    
  }
  .order {
    .product-headphones-item {
      order: 2;
    }
  }
  .categories {
    width: 1110px;
    height: auto;
    margin-inline: auto;
  }
  .main-content {
    .content-text {
      display: flex;
      justify-content: center;
      margin: 160px 165px;
      gap: 125px;
      width: 1110px;
      margin-inline: auto;
      picture {
        width: 540px;
        height: 560px;
        order: 1;
        img, source {
          height: auto;
        }
      }
      > div {
        margin: 0;
        width: 445px;
        height: 295px;
        padding-block:100px ;
        h3, p {
          text-align: left;
          margin-inline: 0;
        }
      }
    }
  }
}