body {
  font-family: "Manrope", serif;
}

.hero {
  background: url(../product-xx99-mark-two-headphones/hero-background.png) no-repeat center;
  background-size: cover;
}

.hero-desktop {
  display: none;
}

.hero-text {
  padding-top: 108px;
  padding-bottom: 112px;
  min-width: 328px;
  display: block;
  margin-inline: auto;

  a {
    text-decoration: none;
  }

  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    text-align: center;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    opacity: 75%;
    margin-top: 24px;
    text-align: center;

  }

  button {
    margin-top: 28px;
    text-align: center;
    background-color: rgba(216, 125, 74, 1);
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    padding: 15px 31px;
    border: 1px solid transparent;
    display: block;
    margin-inline: auto;
  }
}

.footer {
  background-color: #101010;
  text-align: center;
  padding-inline: 24px;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #878787;
    padding-block: 48px;
  }


  .navbar ul li {
    list-style: none;
    font-weight: 450;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 16px;

  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 48px 38px;
  }

  >img {
    display: block;
    margin-inline: auto;
    padding-bottom: 48px;
  }

  >a img {
    display: block;
    margin-inline: auto;
    padding-bottom: 48px;
  }

  span {
    color: #878787;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
  }

  ul {
    padding: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 32px 24px 32px 7px;

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    padding-top: 23px;
    z-index: 1;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

.main-content {
  margin-inline: 24px;
  margin-bottom: 120px;
  margin-top: 120px;

  .content-text {
    text-align: center;

    img {
      border-radius: 8px;
      margin-bottom: 40px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 32px;

      span {
        color: #D87D4A;
      }
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      opacity: 0.5;
    }
  }
}

.product-zx7-desktop {
  display: none;

  button {
    cursor: pointer;
  }

}

.categories {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 68px;
  padding-bottom: 22px;
  margin-bottom: 120px;
  margin-inline: auto;

  .category-item {
    width: 327px;
    height: 165px;
    border-radius: 8px;
    background-color: #F1F1F1;
    text-align: center;
    margin-inline: auto;
  }

  img {
    position: relative;
    margin-top: -60px;
    margin-inline: auto;
    margin-bottom: 38px;
  }

  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20.49px;
    margin-bottom: 17px;
    color: #000000;
    margin-bottom: 17px;
  }

  a {
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }

  span {
    color: #D87D4A;
  }
}

.products {
  margin-inline: auto;
  display: grid;
  justify-items: center;
}

.product-zx7-tablet {
  max-width: 589px;
  margin-top: 32px;
  display: none;

  button {
    cursor: pointer;
  }
}

.product-zx9 {
  width: 350px;
  border-radius: 9px;
  padding-top: 55px;
  background: rgba(216, 125, 74, 1);
  background-image: url(../home/desktop/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 558px;
  height: 600px;

  img {
    display: block;
    margin-inline: auto;
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 12px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
    padding-inline: 23px;

  }

  button {
    margin-top: 28px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    padding: 15px 31px;
    border: 1px solid transparent;
    text-decoration: none;
    margin-top: 39px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
  }
}

.product-zx7 {
  position: relative;
  width: 350px;
  border-radius: 9px;
  height: 320;
  margin-top: 24px;

  .product-zx7-text {
    position: absolute;
    top: 85px;
    left: 35px;
  }

  h3 {
    font-family: Manrope;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 1);
  }

  button {
    margin-top: 32px;
    background-color: transparent;
    padding: 15px 29px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    cursor: pointer;

  }

  img {
    width: 350px;
    border-radius: 9px;
  }
}

.product-zxd9 {
  img {
    margin-top: 24px;
    width: 350px;
    border-radius: 9px;
  }

  .product-yx1-text {
    width: 350px;
    border-radius: 9px;
    height: 200px;
    margin-top: 24px;
    background-color: rgba(241, 241, 241, 1);
  }

  .text-wrap {
    padding-top: 41px;
    padding-inline: 24px;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 2px;
  }

  button {
    margin-top: 32px;
    background-color: transparent;
    padding: 15px 29px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    cursor: pointer;

  }
}

/* buradan itibaren dialog css */
.modal-dialog {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialog-top h3 {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  display: flex;
  align-items: center;
}

.dialog-top h3 span {
  font-size: 16px;
  color: black;
  margin-left: 5px;
}

.dialog-top button {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.dialog-top button:hover {
  color: #e67b3d;
}

.dialog-product-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  gap: 12px;
}

.product-left img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.product-middle h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.product-middle h4 {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.product-right {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 6px;
  padding: 5px;
  overflow: hidden;
  width: 110px;

  button {
    background-color: transparent;
  }
}

.btn {
  width: 35px;
  height: auto;
  border: none;
  background: transparent;
  /* Şeffaf buton */
  color: #333;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}


.counter {
  width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.dialog-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.dialog-bottom h6 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}

.dialog-bottom span {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.checkout-btn {
  background: #e67b3d;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  margin-top: 20px;
}

.checkout-btn:hover {
  background: #d67a3c;
  transform: scale(1.03);
}

.checkout-btn:active {
  transform: scale(0.95);
}

/* overlay part start here */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* media start here */
/* tablet version start here */
@media (min-width: 525px) {
  body {
    min-width: 768px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }

  .logo {
    margin-right: auto;
    margin-left: 42px;
  }

  .hero {
    background: url(../product-xx99-mark-two-headphones/hero-background.png) no-repeat center;
    background-size: cover;
    height: 650px;
    width: 100%;
  }

  .hero-text {
    padding-bottom: 58px;
    width: 528px;
    display: block;
    margin-inline: auto;
    height: 550px;

    h1 {
      font-weight: 700;
      font-size: 56px;
      line-height: 58px;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 1);
      margin-top: 16px;
      text-align: center;
    }

    p {
      padding-inline: 60px;
    }

    button {
      margin-top: 40px;
    }
  }

  .categories {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    padding-inline: 40px;
  }

  .products {
    padding-inline: 25px;
  }

  .product-zx9 {
    min-width: 589px;
    height: 620px;
    border-radius: 9px;
    background-size: 689px;
  }

  .product-zx7 {
    display: none;
  }

  .product-zx7-tablet {
    max-width: 589px;
    margin-top: 32px;
    display: block;
    position: relative;

    .product-zx7-text {
      position: absolute;
      top: 85px;
      left: 62px;
    }

    button {
      margin-top: 22px;
      background-color: transparent;
      padding: 13px 29px;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
    }
  }

  .product-zxd9 {
    display: flex;
    max-width: 589px;
    height: 320px;
    gap: 11px;

    img {
      margin-top: 24px;
      width: 350px;
      border-radius: 9px;
    }

    .product-yx1-text {
      width: 350px;
      border-radius: 9px;
      height: 300px;
      margin-top: 24px;
      background-color: rgba(241, 241, 241, 1);
    }

    .text-wrap {
      padding-top: 41px;
      padding-inline: 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 2px;
    }

    button {
      margin-top: 32px;
      background-color: transparent;
      padding: 15px 29px;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
    }
  }

  .main-content {
    margin-inline: 25px;
    margin-bottom: 120px;
    margin-top: 120px;

    .content-text {
      text-align: center;
      padding-inline: 80px;

      img {
        border-radius: 8px;
        margin-bottom: 40px;
      }

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38.25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 32px;
        padding-inline: 15px;

        span {
          color: #D87D4A;
        }
      }

      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        opacity: 0.5;
      }
    }
  }

  .footer {
    padding-inline: 40px;
    text-align: left;

    >img {
      display: block;
      margin-left: 0px;
    }

    a>img {
      display: block;
      margin-left: 0px;
      padding-bottom: 32px;
    }

    ul {
      display: flex;
      gap: 34px;
    }

    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

/* desktop version start here */
@media (min-width: 1024px) {
  body {
    min-width: 1200px;
  }

  .header {
    width: 100%;
    padding-inline: 165px;

    a {
      order: 3;
      display: block;
    }

    .logo {
      display: block;
      order: 1;
      margin-left: 0;
      margin-right: 0;
    }

    .hamburger-menu {
      order: 2;

      #menu__toggle,
      .menu__btn {
        display: none;
      }

      .menu__box {
        position: static;
        width: auto;
        padding: 0;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 34px;
        background: inherit;

        .menu__item {
          color: #FFF;
        }
      }
    }
  }

  .hero {
    display: none;
  }

  .hero-desktop {
    display: flex;
    background-color: #131313;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    img {
      padding-right: 85px;
      margin-bottom: 85px;
    }
  }

  .categories {
    padding-inline: 175px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    margin-top: 120px;
  }

  .products {
    padding-inline: 25px;
  }

  .product-zx9 {
    min-width: 1100px;
    height: 560px;
    border-radius: 9px;
    background-size: 689px;
    display: flex;
    align-items: center;
    position: relative;

    img {
      width: 410px;
      height: 493px;
      position: absolute;
      bottom: -25px;
      left: 85px;
      display: inline-block;
    }

    .product-zx9-text {
      position: absolute;
      right: 15px;
      padding-inline: 15px;
      width: 370px;
      text-align: left;

      p {
        text-align: left;
        padding-inline: 0px;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        opacity: 0.75;
      }

      h2 {
        text-align: left;
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: 2px;
      }

      button {
        margin-inline: 0;
      }
    }
  }

  .product-zx7-tablet {
    display: none;
  }

  .product-zx7-desktop {
    display: block;
    margin-top: 48px;
    position: relative;
    border-radius: 12px;

    .product-zx7-text {
      position: absolute;
      top: 85px;
      left: 62px;
    }

    button {
      margin-top: 22px;
      background-color: transparent;
      padding: 13px 29px;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
    }
  }

  .product-zxd9 {
    display: flex;
    max-width: 1100px;
    min-width: 1100px;

    height: 320px;
    gap: 11px;

    img {
      margin-top: 24px;
      width: 540px;
      height: 320px;
      border-radius: 9px;
    }

    .product-yx1-text {
      width: 540px;
      border-radius: 9px;
      height: 320px;
      margin-inline: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(241, 241, 241, 1);
    }

    .text-wrap {
      padding-top: 41px;
      padding-inline: 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 2px;
    }

    button {
      margin-top: 32px;
      background-color: transparent;
      padding: 15px 29px;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
    }
  }

  .main-content {
    .content-text {
      display: flex;
      justify-content: center;
      margin: 160px 165px;
      gap: 125px;
      width: 1110px;
      margin-inline: auto;

      picture {
        width: 540px;
        height: 560px;
        order: 1;

        img,
        source {
          height: auto;
        }
      }

      >div {
        margin: 0;
        width: 445px;
        height: 295px;
        padding-block: 100px;

        h3,
        p {
          text-align: left;
          margin-inline: 0;
        }
      }
    }
  }

  .footer {
    padding-inline: 165px;

    p {
      max-width: 540px;
    }
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
}